<div class="body__inner"><div class="main-wrap auth"><div id="React--Site"></div><div class="auth__wrapper"><div class="auth__header"><h1>
                    Linktree
                    <span class="logo"></span></h1><h2 class="text-center">
                                            Sign up for your Linktree account
                                    </h2></div><div class="auth__box"><div class="auth__form">
									<%= form_for @user do |f|%>
									<label class="active-input" for="fos_user_registration_form_email"><input type="email"
            class="field is-empty"
            value=""
            autocomplete="fos_user_registration_form_email"
            data-fos_user_registration_form_email
            id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required"><span><span>
                Email</span></span></label><div data-active-input-error data-fos_user_registration_form_email-error data-auth-validationerror="fos_user_registration_form_email-message"></div><label class="active-input" for="fos_user_registration_form_username"><input type="text"
            class="field is-empty"
            value=""
            autocomplete="fos_user_registration_form_username"
            data-fos_user_registration_form_username
            id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required"><span><span>
                Username</span></span></label><div data-active-input-error data-fos_user_registration_form_username-error data-auth-validationerror="fos_user_registration_form_username-message"></div><label class="active-input" for="fos_user_registration_form_plainPassword_first"><input type="password"
            class="field is-empty"
            value=""
            autocomplete="fos_user_registration_form_plainPassword_first"
            data-fos_user_registration_form_plainPassword_first
            id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" autocomplete="new-password"><span><span>
                Password</span></span></label><div data-active-input-error data-fos_user_registration_form_plainPassword_first-error data-auth-validationerror="fos_user_registration_form_plainPassword_first-message"></div><label class="active-input" for="fos_user_registration_form_plainPassword_second"><input type="password"
            class="field is-empty"
            value=""
            autocomplete="fos_user_registration_form_plainPassword_second"
            data-fos_user_registration_form_plainPassword_second
            id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" autocomplete="new-password"><span><span>
                Repeat password</span></span></label><div data-active-input-error data-fos_user_registration_form_plainPassword_second-error data-auth-validationerror="fos_user_registration_form_plainPassword_second-message"></div><input class="button purple disabled" type="submit" value="Register"/><input type="hidden" id="username_csrf_token" value="-ZjUw70Cu7CRTpcpGSiAlUA454ylLaAiKdhmFkh7NiU"><input type="hidden" id="email_csrf_token" value="zPYxheUO4VXSwF1Vw_3O8-0d0gvrfmXQHdOO6iJQ4_g"><input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="FpDKrYwEH-QluzhlCauC2pLIpUNtwBTys1EmvjU9VhY" /></form></div></div><div class="auth__footer"><p>By using this service you are agreeing to the <a href="s/terms/index.html">terms of service</a> and <a href="s/privacy/index.html">privacy policy</a></p><a href="login.html">Already have an account?</a><ul class="auth__footer-links"><li><a href="s/trust-centre/index.html">Trust Centre</a></li><li><a href="s/report/index.html">Report a Violation</a></li><li><a href="s/careers/index.html">Careers</a></li></ul></div></div></div></div>