/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
label.active-input.with-prepend-text input.focus-visible~.prepend-text{opacity:.5;transition:opacity .6s .2s}label.active-input.error{color:#ff1731}label.active-input.error>span{color:#ff1731;border-bottom-color:#ff1731!important}label.active-input.error .field{color:#ff1731}label.active-input.hidden{position:absolute;opacity:0}label.active-input.visible{position:relative;opacity:1;transition:opacity .2s ease-in-out}label.active-input .field.focus-visible+span span,label.active-input .field:not(.is-empty)+span span,label.active-input select.field span span{transform:scale(.68) translateY(-31px);cursor:default}label.active-input .field.focus-visible+span,label.active-input select.field:focus+span{border-bottom-color:#00d775}label.active-input .field{background:transparent;font-weight:300;border:0;color:#282f37;outline:none;cursor:text;display:block;width:100%;line-height:32px;padding-bottom:3px;transition:opacity .2s ease-in-out}label.active-input .field::-webkit-input-placeholder{color:#686d73}label.active-input .field::-moz-placeholder{color:#686d73}label.active-input .field:-ms-input-placeholder{color:#686d73}label.active-input .field.is-empty:not(.focus-visible){opacity:0}